<nav class="bg-blue-600 p-6 shadow-md sticky top-0 z-10">
  <div class="container mx-auto flex justify-between items-center">
    <a
      href="/"
      class="text-white text-xl font-bold hover:text-gray-200 transition duration-200"
      >Knowlytics</a
    >
    <div class="space-x-6">
      <% if (isLoggedIn) { %>
      <a
        href="/edit-profile"
        class="text-white font-medium hover:text-gray-200 transition duration-200"
        >Edit Profil</a
      >
      <a
        href="/logout"
        class="text-white font-medium hover:text-gray-200 transition duration-200"
        >Keluar</a
      >
      <% } else { %>
      <a
        href="/login"
        class="text-white font-medium hover:text-gray-200 transition duration-200"
        >Masuk</a
      >
      <a
        href="/register"
        class="text-white font-medium hover:text-gray-200 transition duration-200"
        >Daftar</a
      >
      <% } %>
    </div>
  </div>
</nav>
